@import "../../../../../styles/theme.scss";

.button {
  background: $main-color;
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  color: $gray-1;
  transition: all 0.2s;

  &:hover {
    background: $indigo-5;
  }

  &:active {
    transform: scale(0.95);
  }

  &--outline {
    background: #fff;
    border: 3px solid$indigo-3;
    padding: 3px 12px;
    color: #000;

    &:hover {
      background: $indigo-0;
    }
  }

  &--danger {
    background: $main-danger;

    &:hover {
      background: $red-8;
    }
  }
}
