<nz-table #usersTable [nzData]="users$ | async">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of usersTable.data">
      <td>{{ data?.name }}</td>
      <td>{{ data?.surname }}</td>
      <td>{{ data?.email }}</td>
      <td>{{ data?.age }}</td>
      <td>
        <a (click)="edit()">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete()">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
