@import "../../../../../../styles/theme.scss";

th {
  width: 200px;
  text-align: start;
}

.table {
  margin-top: 16px;
  color: $gray-1;
  &__header {
    color: $gray-1;
    background: $main-color;

    th {
      padding: 12px;

      &:last-child {
        border-start-end-radius: 10px;
      }

      &:first-child {
        border-start-start-radius: 10px;
      }
    }
  }

  &__row {
    transition: all 0.2s;

    &:not(:last-child) {
      border-bottom: 1px solid #ced4da;
    }

    &:last-child {
      border-bottom: 3px solid $main-color;
    }

    &:hover {
      background: $gray-7;
      color: $main-color;
      font-weight: 600;
    }

    td {
      padding: 16px;
    }
  }

  &__icon {
    font-size: 18px;
    color: $main-color;
    transition: all 0.2s;
    margin-right: 8px;

    &--danger {
      color: $main-danger;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }
}
