<nz-table #usersTable [nzData]="users$ | async">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersTable.data">
      <td>{{ user?.name }}</td>
      <td>{{ user?.surname }}</td>
      <td>{{ user?.email }}</td>
      <td>{{ user?.age }}</td>
      <td>
        <span
          class="icon"
          nz-icon
          nzType="edit"
          nzTheme="outline"
          (click)="edit(user)"
        ></span>
        <nz-divider nzType="vertical"></nz-divider>
        <span
          class="icon icon--danger"
          nz-icon
          nzType="delete"
          nzTheme="outline"
          (click)="delete(user)"
        ></span>
      </td>
    </tr>
  </tbody>
</nz-table>
