@import "../../../../../styles/theme.scss";

.header {
  display: flex;
  align-items: center;
  background-color: $main-color;
  padding: 20px;

  &__title {
    color: #fff;
    margin-bottom: 0;
    margin-left: 16px;
  }

  &__icon {
    font-size: 36px;
    color: #fff;
  }
}
