.user-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 64px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        margin-bottom: 16px;

        button {
            margin-left: 8px;
        }
    }
}