.user-page {
  display: flex;
  justify-content: center;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 64px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    margin-bottom: 16px;

    button {
      margin-left: 8px;
    }
  }
}
